<div id="option-container">
    <form action='/insert' method='POST' id="input">
        <ul>
            <li><input type="text" name="name" placeholder="Enter Name"></li>
            <li><input type="text" name="roll" placeholder="Enter Roll"></li>
            <li><input type="text" name="branch" placeholder="Enter Branch"></li>
            <li><input type="number" name="year" placeholder="Enter Year"></li>
        </ul>
        <button type='submit' class="option" id="insert">Insert</button>
    </form>
    <div id="btn-container">
    <button class="option" id="update">Update</button>
    <button class="option" id="delete">Delete</button>
    </div>
</div>