<%- include('head') %>
<%- include('header') %>

<main>
    <div id="table">
        <ul id="details">
            <li>Name</li>
            <li>Roll No</li>
            <li>Branch</li>
            <li>Year</li>
        </ul>
    </div>
</main>

<%- include('form') %>